# ---------------------------------------------
#  Example Environment Variables File
#  Rename this file to ".env" and fill in values
# ---------------------------------------------

# ---------------------------------------------
# Database Configuration
# ---------------------------------------------
# Replace <username>, <password>, and <dbname> with actual credentials
MONGO_URI=mongodb+srv://priyanshugupta1506_db_user:PG123@cluster0.gey0xvd.mongodb.net/?appName=Cluster0

# ---------------------------------------------
# Authentication
# ---------------------------------------------
# Use a long random string (at least 32 characters)
JWT_SECRET=89b897deb94aae53f9366c8dcc614c5c158f42152ee4ebe50d4fbd9eb1e85831ccef524678402477cbab74d689a47a659489db926ce1af86c472743105c4f9de

# ---------------------------------------------
# Server Configuration
# ---------------------------------------------
PORT=5000